<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                        blue: "#007acc",
                        primary: "#1e1e1e",
                        secondary: "#252526",
                    }
                }
            }
        }
    </script>
    <title>Chat</title>
</head>

<body class="flex justify-center bg-primary h-[100vh]">
    {{{body}}}
</body>

</html>